<form method="post" action="Home/Upload" enctype="multipart/form-data">
    <input type="file" accept="zip" name="uploadedFile" />
    <input type="submit" value="Загрузить">
</form>
<span style="color:red">@ViewBag.Message</span>